.NavbarBackground {
    animation: navbarCycle 60s infinite;
    animation-timing-function: linear;
    background-size: 500%;
    background-position-x: 0%;
    border-radius: 0px;
    filter: brightness(0.5);
}

@keyframes navbarCycle {
    0% {
        background-position-x: 0%;
    }

    100% {
        background-position-x: 500%;
    }
}

#projectsDropdown {
    background-color: black;
    border-top-left-radius: 0px;
    display: none;
    float: left;
    overflow: hidden;
    padding: 1em;
    background-color: cyan;
    position: absolute;
    min-width: 160px;
}

#projectsLink:hover #projectsDropdown {
    display: block;
}
